.container-productdetail{
    height: 90%;
    width: 80%;
    display: flex;
}

.main1{
    width:50%;
    height: 100%;
    padding:5px;
    background-color: whitesmoke;
    border: solid;
}
.main2{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    width:50%;
    height: 100%;
    padding:5px;
    background-color: whitesmoke;
}


/* Estilos footer*/
footer{
    box-sizing: border-box;
    padding: 5px;
    height: 15%;
    background-color: #1836B2;
    display: flex;
    justify-content: space-between;
}

.footer-contact, .footer-location, .footer-about-us{
    background-color: #ffffff75;
    border-radius: 5px;
}

    /*footer-location*/
.footer-location{
    box-sizing: border-box;
    padding: 2px;
    width: 20%;
    display: flex;
}

.location-icon{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-icon img{
    width: 100%;
}
.location-info{
    width: 60%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location-info p{
    text-align: center;
}

    /*Footer about-us*/
.footer-about-us{
    box-sizing: border-box;
    width: 30%;
    padding: 5px;
}

.about-us1, .about-us2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-us1{
    height: 70%;
}
.about-us2{
    height: 30%;
}

.about-us1 p{
    text-align: center;
}

    /*Footer contact*/
.footer-contact{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact1, .contact2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact1{
    height: 20%;
}

.contact1 h3{
    font-size: 20px;
}

.contact2{
    height: 5%;
}

.contact2 a{
    background-color: rgba(245, 245, 245, 65%);
    font-size: 5px;
    border-radius: 20%;
}

.contact2 a i{
    font-size: 10px;
}

/* Colores de marcar https://usbrandcolors.com/*/
.fa-facebook{
    color:#4267B2;
}
.fa-instagram{
    color:#C13584;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-youtube{
    color: 	#FF0000;
}
.fa-whatsapp{
    color: #25D366;
}
.fa-envelope{
    color: #EEEEEE;
}


@media screen and (max-width: 576px) {
    .container-productdetail{
        height: 50%;
    }
}

@media screen and (min-width: 768px) {

}