<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css//user/register.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Formulario Registro</title>
  </head>
  <body>
     <div class="contenedor">
      <%- include('../partials/header') %>
       <section class="main">
        <div class="header"><h3>CREA TU CUENTA</h3></div>
        <div class="contenedor">
          <form> 
            <div>
            <label>
              <span>Nombre Completo</span>
              <input type="text" autocomplete="off" name=" nombre" required/>
            </label>
          </div> 

          <div>
            <label>
              <span>Correo</span>
              <input type="email" autocomplete="off" name=" email" required/>
            </label>
          </div>

          <div>
            <label>
              <span>Contraseña</span>
              <input type="password" autocomplete="off" name=" password" required/>
            </label>
          </div> 

          <div>
            <label>
              <span>Confirmar Contreseña</span>
              <input type="password" autocomplete="off" name="confirmar-contrasena" required/>
            </label>
          </div>
            <div>
              <input type="checkbox" name="robot" required />
              No soy un robot  
            </div>

              <div>
              <input type="submit" value="Crear Cuenta" />
              </div>
           

          </form>
          <script>
            const inputs = document.querySelectorAll('input');
            inputs.forEach(input => {
              input.onfocus = ()=>{
                    input.previousElementSibling.classList.add('top');
                    input.previousElementSibling.classList.add('focus');
                    input.parentNode.classList.add('focus');
              }
              input.onblur =()=>{
                input.value = input.value.trim();
                if(input.value.trim().length == 0){
                  input.previousElementSibling.classList.remove('top');
                }

                    input.previousElementSibling.classList.remove('focus');
                    input.parentNode.classList.remove('focus');
              }
            })
          </script>
          <p>¿Ya tienes una cuenta? <a href="#">Inicia sesión</a>.</p>
        </div>
      </section>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
